<%- include('./partials/html-head') %>
<%- include('../partials/newNav') %>

<link rel="stylesheet" href="/stylesheets/newNav.css">

<%- include('../partials/newNav') %>


<h1>this is the coemmnts</h1>
<h1> <%= ticket.details  %></h1>
<form action="POST"></form>