<%- include('./partials/html-head') %>

<%- include('./partials/nav') %>

<%= title %>
<h1>this is the tickets page</h1> 
<table>
  <tr>
<td>AssingedTo</td>
<td>Time</td>
<td>Severity</td>
<td>Date</td>
<td>Problems</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>














<%- include('./partials/footer') %>