

<%= title %>
<h1>this is the tickets page</h1> 
<a href="/tickets/new">new</a>
<table>
    <thead> 
      <tr>
        <td>assingedTo</td>
        <td>Problems</td>
        <td>Severity</td>
        <td>ime</td>
        <td>TDate</td>
        <td></td>
      </tr>
    </thead>
    <tr>
      <% tickets.forEach((ticket)=>{ %>
        <td><%= ticket.assignedTo%> </td>
        <td><%= ticket.problems%> </td>
        <td><%  %> </td>
        <td>f</td>
      </tr>
      <% }) %> 
</table>













