

<a href="/tickets"> main</a>

<h1>add flights</h1>
<form action="POST" action="'/tickets">
  <label>assigned to </label>
  <input type="date" name="assingedTo" value="2022-03-29">
  <select name="" id="#">
    <option value="Urgent"> Urgent</option>
    <option value="High"> High </option>
    <option value="Normal"> Normal </option>
    <option value="Low"> Low </option>
  </select>
  <select name="problems" id="">
    <option value="Software">Software</option>
    <option value="Hardware">Hardware</option>
  </select>
  
  <button type="submit">Add flights</button>
</form>