body{
  display: flex;
  padding-top:15rem;
  padding-left:40rem;
  gap:2rem;
  flex-direction: row;
}
.details{
  border: 1px solid green;
  width:40%;
  padding-left:40px;
  height:60rem;
}
.comment{
  height: 0rem;
  width:33rem;
}
.img-detail{
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}
img{
  width:9rem;
  height:9rem
}
.req-assi{
  padding-left: 12rem;
}
.req-assi > h1 {
  font-size:12px;
}


.commnet-text  {
  width: 24rem;
  height:4rem
}
.card-header{
  display: flex;
  gap: 9rem;
}

.severity-problem{
  display: flex;
  padding-top: 5rem;
  flex-direction: row;
  gap: 15rem;
}
.severity-problem > h1 {
  font-size:2rem;
}

.main-conments{
  overflow: scroll;

}
.detail-ticket > h1 {
  padding-top: 2rem;
  padding-right: 5rem;
  font-size: 16px;
}

.detail-issue{
  text-align: center;
}
#btn-comments {
  width:8rem;
  height:4rem;
}

#button-card{
  width: 32rem;
}

.card-title {
  display: flex;
  gap: 18rem;
}