body{
  display: flex;
  padding-top:15rem;
  padding-left: 38rem;
}
.container-create{
  background-color: rgb(226, 201, 201);
  display: flex;
  height:37rem;
  flex-direction: column;
  width: 60rem;
}
.assingedTo{
  display: flex;
  flex-direction:column;
  width: 50%;
}
.title{
  border: 1px solid rgb(234, 238, 20);
}
.title{
  display: flex;
  justify-content: center;
}
.add-ticketform{
  padding-left: 1rem;
}
.detail-create{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.severity{
  padding-top: 1rem;
  display: flex;
  flex-direction:column;
  width: 50%;
}
.problem{
  padding-top: 1rem;
  display: flex;
  flex-direction:column;
  width: 50%;
}
.add-button{
  padding-top: 1rem;
}