body{
  display: flex;
  padding-top:15rem;
  padding-left: 38rem;
}
.container-create{
  background-color: rgb(237, 147, 147);
  display: flex;
  height:47rem;
  flex-direction: column;
  width: 50rem;
}
.assingedTo{
  display: flex;
  flex-direction:column;
  width: 80%;
}
.assingedTo > input{
  height: 3rem;
}
label{
  font-size: 20px
}
.title{
  border: 1px solid rgb(234, 238, 20);
}
.title{
  display: flex;
  justify-content: center;
}
.add-ticketform{
  padding-left: 1rem;
}
.detail-create{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 30%;
}
.severity{
  padding-top: 1rem;
  display: flex;
  flex-direction:column;
  width: 80%;
}
.problem{
  padding-top: 1rem;
  display: flex;
  flex-direction:column;
  width: 80%;
}
.add-button{
  padding-top: 5rem;
}

.detail-create > input {
  height: 9rem;
}