.main-nav {
  padding-top: ;
}
.flex-container {
  display: flex;
  height: 701px;
  width: 130px;
  flex-flow: column;
  background-color: blue;
  align-content: flex-start;
  gap: 20px;
}

.flex-container > a {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
